body, html {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #f3f4f6;
}

.container {
    text-align: center;
}

h1 {
    font-size: 2em;
    color: #333;
}

#score {
    font-size: 1.5em;
    margin-bottom: 20px;
}

#clickButton {
    padding: 15px 30px;
    font-size: 1.2em;
    cursor: pointer;
    background-color: #4caf50;
    color: #fff;
    border: none;
    border-radius: 5px;
}

#clickButton:hover {
    background-color: #45a049;
}
